body{
    background-color: rgb(212, 129, 238);
    color: rgb(240, 240, 240);
}

h1, h2{
    color: rgb(58, 8, 151);
}
footer{
    background-color: rgb(193, 150, 228);
}
p{
  color: rgb(126, 80, 145);  
}