@charset "UTF-8";

body {
  background-color: rgb(0, 0, 0);
  color: #ffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#container {
    display: grid;
    /* gap: 5px; */
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "item1 item1 item2 item2"
    "item3 item3 item3 item3"
    "item4 item4 item4 item4"
    " . item5 item5 . "
    "item6 item6 item6 item6"
    "item7 item7 item8 item9";
}

.item-1 {
    /* background-color: aquamarine; */
    grid-area:item1;
    border: 1px solid rgb(255, 5, 5);

}
.item-2 {
    /* background-color: aquamarine; */
    grid-area: item2;
    border: 1px solid rgb(7, 212, 226);

}
.item-3 {
    /* background-color: aquamarine; */
    grid-area: item3;
    border: 1px solid rgb(126, 9, 236);

}
.item-4 {
    /* background-color: aquamarine; */
    grid-area: item4;
    border: 1px solid rgb(223, 2, 175);

}
.item-5 {
    /* background-color: aquamarine; */
    grid-area: item5;
    border: 1px solid rgb(14, 206, 8);

}
.item-6 {
    /* background-color: aquamarine; */
    grid-area: item6;
    border: 1px solid rgb(67, 176, 219);

}
.item-7 {
    /* background-color: aquamarine; */
    grid-area: item7;
    border: 1px solid rgb(163, 192, 33);

}
.item-8 {
    /* background-color: aquamarine; */
    grid-area: item8;
    border: 1px solid rgb(9, 225, 233);
}
.item-9 {
    /* background-color: aquamarine; */
    grid-area: item9;
    border: 1px solid rgb(9, 225, 233);
}